{% if messages %}
      {% for message in messages %} 
        {% if messages.tag == 'success' %}
        <script> M.toast{html:"{{message}}" classes : "green rounded" 
            displayLength : 2000});</script>
        {% elif messages.tag == 'info' %}
        <script> M.toast{html:"{{message}}" classes : "blue rounded" 
            displayLength : 2000});</script>
        {% elif messages.tag == 'warning' %}
        <script> M.toast{html:"{{message}}" classes : "orange rounded" 
            displayLength : 10000});</script>
        {% elif messages.tag == 'error' %}
        <script> M.toast{html:"{{message}}" classes : "red rounded" 
            displayLength : 10000});</script>
        {% endif %}
      {% endfor %}
{% endif %}